body{
  background-color: rgba(0, 119, 255, 0.966);
  max-width: 1000px;
  margin: auto;
  border: 5px solid black;
}
img{
    width:240px;
    height:240px;
    box-align:center;
    align-items: center;
    padding-right: 105px;
    padding-bottom: 20px;
    padding-left: 10px;
}
nav{
  display: flex;
  width: 100%;
  background-color: rgb(152, 160, 37);
  height: auto;
  overflow:auto;
}
.navi{
  text-align: center;
  padding: 10px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 10px;
  font-weight: bolder;
}

a:visited{
  color:black;
}

.navi:hover{
 border-bottom: 2px solid blue;
}

p a{
  padding: 12px 16.4px;
  text-align:center;
  font-size:20px;
  display:block;
}

.linked{
  font-size:17px;
  color:black;
  text-decoration: none;
}
.linked:hover{
  text-decoration:underline;
  color:blue;
}
p{
  text-align: center;
}
.subdiv{
  font-size:18px;
  font-weight:bold;
}
.heading{
  font-size: 22px;
  text-align:center;
  font-weight: bold;
  background-color:aqua;
}

h1{
  padding-left: 10px;
  
}
h3{
  padding-left: 60px;
}
.para{
  text-align:left;
  padding-left: 10px;
  padding-right: 10px;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
  align-items: center;
  text-align: center;
}
table{
  padding-bottom:2px;
}
